[submodule "third_party/tpch-dbgen"]
	path = third_party/tpch-dbgen
	url = git@github.com:electrum/tpch-dbgen.git
[submodule "third_party/join-order-benchmark"]
	path = third_party/join-order-benchmark
	url = git@github.com:gregrahn/join-order-benchmark.git
